$main-color: #EC9F05;
$white-color: #ffffff;
$border-color: #EC9F05;
$delete-color: #c6390a;

.wrap {
  margin: 7rem auto;
  width: 60%;
}

.title {
  font-size: 2.4rem;
  color: $main-color;
  font-weight: 900;
}

.condition {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  width: 100%;
}

.select_box {
  font-size: 1.6rem;
  padding: 1rem;
  width: 20%;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.input_text {
  font-size: 1.6rem;
  padding: 1rem;
  width: 50%;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.button {
  background-color: $main-color;
  color: $white-color;
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
  width: 15%;
  border-radius: 5px;
  cursor: pointer;
}

.todo_list {
  margin-top: 5rem;
  width: 100%;
  border: 3px solid $main-color;
  border-radius: 5px;
  padding: 5rem;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:not(.row:first-of-type) {
    margin-top: 2.5rem;
  }

  &:not(.row:last-of-type) {
    padding-bottom: 1rem;
    border-bottom: 2px dashed $main-color;
  }
}

.category {
  background-color: $main-color;
  color: $white-color;
  padding: 1rem 0;
  width: 7rem;
  text-align: center;
  border-radius: 25%;
  font-size: 1.6rem;
}

.text {
  margin-left: 2.5rem;
  font-size: 2rem;
}

.delete_button {
  margin-left: auto;
  margin-right: 2rem;
  border: none;
  background-color: $delete-color;
  color: $white-color;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}